@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  background-color: blue;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 10px #ddd;
  height: 100px;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.logo-miu img {
  width: 280px;
}
.main-menu {
  display: flex;
  margin-right: 50px;
  list-style: none;
}
.main-menu a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 17px;
  padding: 0 15px;
  height: 100px;
  display: flex;
  align-items: center;
}
.main-menu > li > a:hover,
a.active {
  background-color: rgb(249, 215, 215);
}
.main-menu li a i {
  position: relative;
  top: 2px;
  left: 5px;
}
.sub-menu {
  position: absolute;
  top: 100%;
  right: 10px;
  display: none;
  list-style: none;
  background-color: #fff;
}
.sub-menu li:not(:last-child) {
  border-bottom: 1px solid #d6d4d4;
}
.sub-menu a {
  height: 50px;
}
.sub-menu a:hover {
  background-color: rgb(249, 215, 215);
}
@keyframes fadein {
  from {
    top: 105%;
    opacity: 0;
  }
  to {
    top: 100%;
    opacity: 1;
  }
}
.humberger {
  display: none;
  margin-right: 100px;
}
.first,
.second,
.third {
  width: 20px;
  height: 3px;
  background-color: black;
  display: block;
}
.second {
  margin: 5px 0;
}
@media (max-width: 930px) {
  .humberger {
    display: block;
  }
  .humberger:hover .second {
    opacity: 0;
    transition: 0.5s;
  }
  .humberger:hover .first,
  .humberger:hover .third {
    background-color: red;
    transition: 0.5s;
    position: relative;
    /* transform-origin: 50% ; */
  }
  .humberger:hover .first {
    transform: rotate(45deg);
    top: 7.5px;
  }
  .humberger:hover .third {
    transform: rotate(-45deg);
    top: -7.5px;
  }
  .main-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 100%;
    width: 100%;
    right: 0;
    margin: 0;
  }
  .main-menu > li > a:hover,
  a.active {
    background: none;
  }
  .main-menu li:not(:last-child) {
    border-bottom: 1px solid #d6d4d4;
  }
  .main-menu a {
    height: 50px;
  }
  .sub-menu {
    position: absolute;
    top: 100%;
    width: 50%;
    left: 50px;
    display: none;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
